@import "tailwindcss";

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
    --hover-green: #00d492;
    --primary-green: #10b98180;
  }
}

@theme  {
    --color-foreground: var(--foreground);
    --color-hover-green: var(--hover-green);
    --color-primary-green: var(--primary-green);
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes wave {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(14deg); }
  20% { transform: rotate(-8deg); }
  30% { transform: rotate(14deg); }
  40% { transform: rotate(-4deg); }
  50% { transform: rotate(10deg); }
  60% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}

.wave {
  display: inline-block;
  transform-origin: 70% 70%;
  animation: wave 2s infinite;
}
